#video-player {
    min-height: 100vh;
    margin: 0;
}
video {
    max-height: 100vh;
}
.alerts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.tool-row {
    margin-bottom: 0.5rem;
}
.tool-row-flex {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 0.5rem;
}
.tool-section {
    border: 2px solid black;
    border-radius: 8px;
    padding: 0.4rem;
    margin: 0.5rem auto;
}
.field-label {
    margin-bottom: 0.3rem;
}
input {
    margin-bottom: 0.3rem;
}
#otters-output {
    min-height: 2rem;
    width: 100%;
    padding: 0.4rem;
}
th,
td {
    border: 1px solid #dee2e6;
    padding: 0.3rem;
    font-size: small;
}

#brightness-slider {
    max-width: 400px;
}
.append-text {
    font-size: smaller;
    margin: auto 0.5rem;
    display: none;
    color: #0b5ed7;
}
